# This first line forces pip to look for CPU-only versions of PyTorch
--extra-index-url https://download.pytorch.org/whl/cpu

# PyTorch (CPU-only)
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0

# Core App & ML
streamlit==1.33.0
pandas==2.2.1
plotly==5.18.0
ultralytics==8.1.0
opencv-python-headless==4.9.0.80
pillow==10.2.0
scikit-learn==1.4.1.post1
matplotlib==3.8.3
transformers==4.38.2
openai-clip==1.0.1 
supervision==0.18.0
numpy==1.26.4